server:
  port: 8082

spring:
  application:
    name: element-service
  datasource:
    url: jdbc:h2:mem:elementdb
    driverClassName: org.h2.Driver
  h2:
    console:
      enabled: true
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

services:
  element-service-url: http://localhost:8082
