server:
  port: 8081

spring:
  application:
    name: category-service
  datasource:
    url: jdbc:h2:mem:categorydb
    driverClassName: org.h2.Driver
  h2:
    console:
      enabled: true
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

# adres element-service dla komunikacji eventowej
services:
  element-service-url: http://localhost:8082
